.container{
    background: rgba(28, 28, 40, 1);
    color: rgba(250, 244, 244, 1);
    font-family: Lato;
}

.hero{
    background-image: url("../sources/hero_img.jpg");
    background-size: cover;
    background-position: center;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    align-self: initial;
    position: absolute;
    top: 1%;
    overflow: hidden;
}

#sticky_logo{
    position: fixed;
    top: 2%;
    left: 2%;
    transition: .2s;
    z-index: 1;
}

#sticky_logo:hover{
    transform: scale(1.1);
}

h1{
    font-size: 48px;
    font-weight: auto;
    line-height: 80px;
    letter-spacing: -1.5px;
    text-align: center;
    margin: 4ch;
}

h2{
    text-align: start;
    padding: 10% 10.5% 0%;
    font-size: 40px;
}

h3{
    font-size: 27px;
    text-align: center;
}

button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.hero button{
    position: absolute;
    bottom: -3%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(246, 142, 95, 1);
    color: rgba(21, 21, 30, 1);
    border: 1px solid rgba(246, 142, 95, 1);
    height: 11%;
    width: 26.5%;
    border-radius: 15px;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: -1px;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.hero button:hover{
    border: 4px solid gray;
    background-color: rgba(250, 244, 244, 1);
    box-sizing: inset 0 0 0 4px #eee;
}

.hero button::after{
        background: rgba(250, 244, 244, 1);
        border: 0 solid #000;
        content: '';
        height: 155px;
        position: absolute;
        left: -75px;
        top: -50px;
        opacity: .8;
        transform: rotate(35deg);
        width: 50px;
        transition: all 1s cubic-bezier(.175, .52, .165, 1);
        z-index: 1;
}

.hero button:hover::after{
    background: rgba(250, 244, 244, 1);
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

section{
    display: flex;
    margin: 1cm;
}

article{
    margin: 0% 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

#typeBArticle{
    margin: 0% 10% 0% 0%;
    justify-content: end;
}

article h3, p{
    display:inline-block;
    vertical-align: middle;
    line-height: normal;
}

.gameSectionA{
    transform: translateX(-150%);
    transition: 1s ease;
}

.gameSectionB{
    transform: translateX(150%);
    transition: 1s ease;
}

.show{
    transform: translateX(0);
}

/*==============================================================================================================================*/


.carrousel{
    width: 80%;
    margin: auto;
    overflow-x: scroll;
}

.carrousel-webkit-scrollbar-button{
    border-radius: 20px;
    color: rgba(89, 106, 254, 1);
}

.slider {
    display: inline-flex;
    text-align: center;
    overflow-y: hidden;
    margin-bottom: 30px;
} 

.slider section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid rgba(119, 123, 158);
    height: 348px;
    width: 237px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin: 1vh;
}

.slider section article{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center; 
    grid-area: 2 / 1 / 4 / 2;
}

.card_img{
    display: flex;
    align-items: center;
   justify-content: center;
   grid-area: 1 / 1 / 2 / 2;
}

.card_img img{
    justify-content: center;
    
}

.card_title{
    color: rgba(203, 208, 255, 1);
    
}

.lore :last-child{
    color: green;
    text-align: center;
}