:root {
    --first-color: #596AFE;
    --second-color: #0C066A;
    --accent-color: #F68E5F;
    --white-color: #FAF4F4;
    --black-color: #15151E;
    --grey-color: #777B9E;
    --background-color: #1C1C28;
    --first-light1-color: #828DFD;
    --first-light2-color: #ACB2EF;
    --first-light3-color: #CBD0FF;
    --first-shadow1-color: #3143EC;
    --first-shadow2-color: #1928B5;
    --first-shadow3-color: #0C188A;
    --second-light1-color: #332E7A;
    --second-light2-color: #56528D;
    --second-light3-color: #7E7AB4;
    --second-shadow1-color: #040049;
    --second-shadow2-color: #03002E;
    --second-shadow3-color: #02001B;
    --accent-light1-color: #E5936D;
    --accent-light2-color: #FFB390;
    --accent-light3-color: #FBD8C9;
    --accent-shadow1-color: #F46E32;
    --accent-shadow2-color: #DA4400;
    --accent-shadow3-color: #AA3500;
}

body, html {
    margin: 0;
    height: 100%;
}

.container {
    background: rgba(28, 28, 40, 1);
    color: rgba(250, 244, 244, 1);
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    /*display: none;*/
}

.hero {
    background-image: url("../sources/hero_img.jpg");
    background-size: cover;
    background-position: center;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    align-self: initial;
    position: absolute;
    top: 1%;
    overflow: hidden;
}

#sticky_logo {
    position: fixed;
    top: 2%;
    left: 2%;
    transition: .2s;
    z-index: 1;
}

#sticky_logo:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 48px;
    font-weight: auto;
    line-height: 80px;
    letter-spacing: -1.5px;
    text-align: center;
    margin: 4ch;
}

h2 {
    text-align: start;
    font-size: 40px;
}

h3 {
    font-size: 27px;
    text-align: center;
}

button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.hero button {
    position: absolute;
    bottom: -3%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(246, 142, 95, 1);
    color: rgba(21, 21, 30, 1);
    border: 1px solid rgba(246, 142, 95, 1);
    height: 11%;
    width: 26.5%;
    padding-top: 1rem;
    border-radius: 15px;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: -1px;
    transition: all .2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.hero button:hover {
    border: 1px solid gray;
    background-color: rgba(250, 244, 244, 1);
    box-sizing: inset 0 0 0 4px #eee;
}

.hero button::after {
    background: rgba(250, 244, 244, 1);
    border: 0 solid #000;
    content: '';
    height: 155px;
    position: absolute;
    left: -75px;
    top: -50px;
    opacity: .8;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.175, .52, .165, 1);
    z-index: 1;
}

.hero button:hover::after {
    background: rgba(250, 244, 244, 1);
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

section {
    display: flex;
    margin: 1cm;
}

article {
    margin: 0% 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

#typeBArticle {
    margin: 0% 10% 0% 0%;
    justify-content: end;
}

article h3, p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.gameSectionA {
    transform: translateX(-150%);
    transition: 1s ease;
}

.gameSectionB {
    transform: translateX(150%);
    transition: 1s ease;
}

.show {
    transform: translateX(0);
}

.lore :last-child {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 15%;
    margin-top: 7%;
    display: flex;
}

iframe {
    margin: auto;
    width: 80%;
    height: 468.44px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.slider-wrap {
    position: relative;
    left: 10%;
    width: 82%;
    height: 360px;
    margin-bottom: 20%;
}

.sliderTitle {
    margin-left: 10%;
    margin-top: 15%;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: grid;

}

.slider-inner {
    position: absolute;
    justify-content: space-around;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 15px;
    height: 90%;
}

.item {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 95%;
    margin: 0%;
    display: grid;
    grid-template-rows: (3, 1fr);
    border: 2px solid rgba(119, 123, 158);
    top: 5%;
    left: 5%;
}

.item article {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    grid-area: 2 / 1 / 4 / 2;
}

.item figure {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
}

.item:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#npc .slider {
    position: absolute;
    display: flex;
    justify-content: space-around;
    cursor: grabbing;
}

#npc .slider .item {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(21, 21, 30, 1);
}

figcaption {
    text-align: center;
}

.card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
}

.card_img img {
    justify-content: center;

}

.card_title {
    color: rgba(203, 208, 255, 1);
}

.progress-bar {
    position: absolute;
    bottom: -60px;
    left: 0;
    height: 32.97px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 20px;
}

.prog-bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #596AFE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.lore {
    margin-bottom: 10%;
}

/* loading */
body {
    background: rgba(28, 28, 40, 1);
}


.circular {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #D9D9D9;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
}

.percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #D9D9D9;
    transform: translate(5px, 5px);
}

.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(360deg);
    animation: animeDot 5s linear forwards;
}

.dot::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #596AFE;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%);
    border-radius: 50%;
}

.number {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inside {
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    animation: load 5s linear forwards
}

.number p {
    font-size: 14px;
}

@keyframes load {
    from {
        stroke-dashoffset: 440;
    }

    to {
        stroke: #596AFE;
        stroke-dashoffset: 0;
    }
}

@keyframes animeDot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
====================
*FOOTER
====================
*/

footer {
    bottom: 0;
    background-color: var(--black-color);
    width: 100%;
}

.fat-footer {
    padding-top: 2rem;
    margin-top: 5rem;
    display: flex;
}

.fat-footer p {
    transition: 0.4s background-color;
    -webkit-transition: 0.4s background-color;
    -moz-transition: 0.4s background-color;
    -ms-transition: 0.4s background-color;
    -o-transition: 0.4s background-color;
    cursor: pointer;
}

.fat-footer p:hover {
    animation-delay: 4s;
    color: var(--first-light1-color);
}

.fat-footer>div {
    display: flex;
    width: 24%;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

.fat-footer>div>b {
    color: var(--first-light3-color);
    margin-bottom: 1rem;
}

.fat-footer>div>p, .fat-footer>div>b {
    padding-bottom: 1.5rem;
}

.news {
    padding-left: 2rem;
    margin-right: 20rem;
}

.first-section-footer {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}

.first-section-footer>button {
    display: flex;
    align-items: center;
    width: 40%;
    height: 50%;
}

.ps-footer {
    padding-top: 2rem;
}

.p-footer {
    padding-left: 1rem;
}

.social-networks {
    display: flex;
    float: right;
    justify-content: space-between;
    padding-right: 4rem;
}

.social-networks img {
    padding-left: 1rem;
}

.last-text-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    color: var(--grey-color);
}

.btn {
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0;
    border: 0;
    transition: 0.4s background-color;
    -webkit-transition: 0.4s background-color;
    -moz-transition: 0.4s background-color;
    -ms-transition: 0.4s background-color;
    -o-transition: 0.4s background-color;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    animation-delay: 4s;
    background-color: var(--first-shadow1-color);
}


/*
================================================
* Spritesheet
================================================
*/
#knight {
    /*Tamañodelaviñetaindividual*/
    width: 128px;
    height: 131px;
    /*Cómohayestablecidountamaño,centramos*/
    margin: auto;
    /*Cargamoselsprite(repeat-xsepuedeomitir,pordefecto)*/
    background: url("/sources/hollow-knight-sprite.png") repeat-x;
    /*Aplicamosanimación"walk"(0.8seg,6frames,repetimos)*/
    animation: walk .8s steps(9) infinite;
    /*Posicionamoselpersonajesobreelcaminodemadera*/
    position: relative;
    bottom: -170px;
    -webkit-animation: walk .8s steps(9) infinite;
}

/* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
@keyframes walk {

    /* Partimos de la primera viñeta del sprite sheet */
    from {
        background-position: 0
    }

    /* Tamaño total de ancho del sprite.
     Es negativo para que no "camine" hacia atrás */
    to {
        background-position: -1152px
    }
}

/* Animación del cielo. Efecto "Parallax", más lento que el mar. */
#sky {
    background: url("/sources/runner-background.jpg") repeat-x;
    animation: movebg 9s linear infinite;
    -webkit-animation: movebg 9s linear infinite;
    height: 20rem;
}

/* Animación del mar. */


/* Animación para mover cielo y mar */
@keyframes movebg {
    0% {
        background-position: 1720px
    }

    100% {
        background-position: 0
    }
}

/* OPCIONAL: Guybrush */
#gb {
    width: 104px;
    height: 150px;
    background: url("https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/monkey-guybrush.png") no-repeat;
    animation: gbwalk 1s steps(6) infinite;
    margin: auto;
    position: relative;
    top: 34px;
    /* Ojo, muy costoso en rendimiento */
    /* filter: drop-shadow(5px 5px 5px #000); */
}

@keyframes gbwalk {
    0% {
        background-position: 0
    }

    100% {
        background-position: -624px
    }
}